<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukevalenty.rpgforge"
    android:versionCode="6"
    android:versionName="0.1.5-alpha" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:name="com.lukevalenty.rpgforge.RpgForgeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.lukevalenty.rpgforge.browse.RpgBrowseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 
            <intent-filter>
             
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
            -->

        </activity>
        <activity
            android:name="com.lukevalenty.rpgforge.engine.GameActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName="com.lukevalenty.rpgforge.RpgBrowseActivity"
            android:screenOrientation="landscape"
    		android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!-- 
            <intent-filter>
             
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
            -->

        </activity>
        
        <activity
            android:name="com.lukevalenty.rpgforge.edit.MapEditActivity"
            android:label="Map Editor"  
            android:parentActivityName="com.lukevalenty.rpgforge.browse.RpgBrowseActivity">
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.RUN" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data android:scheme="file" />
		        <data android:pathPattern=".*\\.rpg" />
		        <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.RUN" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="*/*" />
		        <data android:host="*" />
            </intent-filter>
            -->

        </activity>
    </application>

</manifest>